body {
    padding-top: 80px;
}

html.fullscreen,
html.fullscreen body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen .fullscreen-container {
    height: 100%;
}

.fullscreen .flash-messages {
    left: 0;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 1000;
}

.container {
    width: 970px;
}

.navbar .breadcrumb {
    background: none;
    font-size: 14px;
    line-height: 60px;
    margin: 0;
    padding: 0 0 0 15px;
}

.navbar .breadcrumb .active {
    font-size: 16px;
    font-weight: bold;
}

.navbar .page-actions {
    padding: 15px 15px 15px 0;
    text-align: right;
}

.navbar .page-actions .btn-group-sm .dropdown-menu {
    font-size: 12px;
}

#content {
    padding-top: 20px;
}

#journey-details-modal dd {
    margin-bottom: 20px;
}

#page-journey-add-stage form {
    width: 300px;
}

#page-journeys #journeys-table td:first-of-type {
    width: 33%;
}

#page-journeys #journeys-table .progress {
    margin: 0;
    text-align: right;
}

#page-journeys #journeys-table .progress .progress-bar {
    font-size: 10px;
    font-weight: bold;
}

#page-journeys #stats-table td:first-of-type {
    width: 120px;
}

#page-journeys-add #map-start-finish-container,
#page-journeys-add #map-start-finish {
    min-height: 400px;
    padding: 0;
}


#page-journeys-add #map-start-finish-container.start-btn-active div[tabindex] div {
    cursor: url('http://maps.google.com/mapfiles/dd-start.png') 10 34, crosshair;
}

#page-journeys-add #map-start-finish-container.finish-btn-active div[tabindex] div {
    cursor: url('http://maps.google.com/mapfiles/dd-end.png') 10 34, crosshair;
}
