html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.flash-messages {
    left: 0;
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 1000;
}

#journey-details-modal dd {
    margin-bottom: 20px;
}