<!DOCTYPE html>
<html lang="en" class="{% if content_without_container %}fullscreen{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    <title>{% block page_title %}{% endblock %} - VirtualRunner</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% block css %}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') | asset_release_version }}" />
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% endblock %}">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <ol class="breadcrumb">
                    {% block breadcrumbs %}{% endblock %}
                    <li class="active">{% block page_header_title %}{{ self.page_title() }}{% endblock %}</li>
                </ol>
            </div>
            <div class="col-xs-6">
                <div class="page-actions">
                    <div class="btn-group btn-group-sm" role="group">
                        {% block page_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="flash-messages container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if category == 'html' %}
                {{ message | safe }}
            {% else %}
                {{ message }}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% with content = self.page_content() %}
    {% if content_without_container %}
        {{ content }}
    {% else %}
        <div id="content" class="container">{{ content }}</div>
    {% endif %}
{% endwith %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
