<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %} - VirtualRunner</title>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') | asset_release_version }}"/>
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% endblock %}">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ol class="breadcrumb">
                    {% block breadcrumbs %}{% endblock %}
                    <li class="active">{{ self.page_title() }}</li>
                </ol>
            </div>
            <div class="col-xs-4">
                <div class="page-actions">
                    {% block page_actions %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="flash-messages container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-info" role="alert">
            {% if category == 'html' %}
                {{ message | safe }}
            {% else %}
                {{ message }}
            {% endif %}

        </div>
    {% endfor %}
</div>

{% with content = self.page_content() %}
    {% if content_without_container %}
        {{ content }}
    {% else %}
        <div id="content" class="container">{{ content }}</div>
    {% endif %}
{% endwith %}

{% block js %}
    {#<script src="{{ url_for('static', filename='lib/jquery-3.1.1.min.js') }}"></script>#}
    {#<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>#}
{% endblock %}
</body>
</html>
