{% extends "base.html" %}

{% block page_title %}Home{% endblock %}

{% block body_id %}page-home{% endblock %}

{% block page_actions %}
    <a class="btn btn-default" href="{{ url_for("controllers.user_login") }}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>Log in</span>
    </a>
    <a class="btn btn-default" href="{{ url_for("controllers.user_register") }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Sign up</span>
    </a>
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1>VirtualRunner</h1>
        <p>
            You can now run <strong>anywhere!</strong>
        </p>
        <p>
            Using the power of Google Maps, <strong>VirtualRunner</strong> brings you an enhanced running experience by
            letting you plot out and follow your progress on virtual maps anywhere in the world!
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for("controllers.user_register") }}" role="button">
                Sign up
            </a>
            <a class="btn btn-default btn-lg" href="{{ url_for("controllers.user_login") }}" role="button">
                Log in
            </a>
        </p>
    </div>
{% endblock %}
