{% extends "base.html" %}

{% block page_title %}Journeys{% endblock %}

{% block body_id %}page-journeys{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="{{ url_for("controllers.journeys_add") }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Create a new journey</span>
    </a>
{% endblock %}

{% block page_content %}
    {% if journeys %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for journey in journeys %}
                <tr class="{% if journey.is_completed %}active{% endif %}">
                    <td><a href="{{ url_for("controllers.journey", jid=journey.id) }}">{{ journey.name }}</a></td>
                    <td>
                        {% if journey.is_completed %}
                            <span class="label label-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span>Completed!</span>
                            </span>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No journeys created.</em></p>
    {% endif %}
{% endblock %}