{% extends "base.html" %}

{% set content_without_container = True %}

{% block page_title %}{{ journey.name }}{% endblock %}

{% block body_id %}page-journey{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/journey.css') | asset_release_version }}"/>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        var startCoords = {lat: {{ journey.start_lat }}, lng: {{ journey.start_lng }}};
        var finishCoords = {lat: {{ journey.finish_lat }}, lng: {{ journey.finish_lng }}};
        var stagesDistance = {{ journey.completed_distance }};
        var totalDistance = {{ journey.distance_meters }};
    </script>
    <script src="{{ url_for('static', filename='js/journey.js') | asset_release_version }}"></script>
    {% with %}
        {% set base_url = "https://maps.googleapis.com/maps/api/js" %}
        {% set key = config.GOOGLE_MAPS_API_KEY %}
        {% set libraries = "geometry" %}
        {% set callback = "initMap" %}
        <script async defer
                src="{{ base_url }}?key={{ key }}&libraries={{ libraries }}&callback={{ callback }}"></script>
    {% endwith %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ url_for('controllers.journeys') }}">Journeys</a></li>
{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="{{ url_for('controllers.journey_details', jid=journey.id) }}">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <span>View details</span>
    </a>
    <a class="btn btn-primary" href="{{ url_for('controllers.journeys_add_stage', jid=journey.id) }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Record a new run</span>
    </a>
{% endblock %}

{% block page_content %}
    <div id="map"></div>
{% endblock %}