{% extends "journey_base.html" %}

{% set content_without_container = True %}

{% block page_title %}Panorama - {{ super() }}{% endblock %}

{% block body_id %}{{ super() }}-panorama{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        var startCoords = {lat: {{ journey.start_lat }}, lng: {{ journey.start_lng }}};
        var finishCoords = {lat: {{ journey.finish_lat }}, lng: {{ journey.finish_lng }}};
        var fractionCompleted = {{ journey.completed_fraction }};
    </script>
    <script src="{{ url_for('static', filename='js/journey_panorama.js') | asset_release_version }}"></script>
    {% with %}
        {% set base_url = "https://maps.googleapis.com/maps/api/js" %}
        {% set key = config.GOOGLE_MAPS_API_KEY %}
        {% set libraries = "geometry" %}
        {% set callback = "initPanorama" %}
        <script async defer
                src="{{ base_url }}?key={{ key }}&libraries={{ libraries }}&callback={{ callback }}"></script>
    {% endwith %}
{% endblock %}

{% block page_content %}
    {{ super() }}
    <div id="journey-panorama" class="fullscreen-container"></div>
{% endblock %}
