{% extends "base.html" %}

{% block page_title %}Journeys{% endblock %}

{% block page_content %}
    {% if journeys %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for journey in journeys %}
                <tr>
                    <td>{{ journey.id }}</td>
                    <td><a href="{{ url_for("journey", jid=journey.id) }}">{{ journey.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No journeys created.</em></p>
    {% endif %}
    <div>
        <a class="btn btn-primary" href="{{ url_for("journeys_add") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>Create new journey</span>
        </a>
    </div>
{% endblock %}