{% extends 'base.html' %}
{% block page_title %}Create new journey{% endblock %}
{% block page_content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% macro field(f, label=None) %}
            <div class="form-group {% if f.errors %}has-error{% endif %}">
                {{ f.label(label) }}
                {{ f(class="form-control") }}
                {% for error in f.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endmacro %}

        {{ field(form.name, "Name: ") }}

        {{ field(form.startLat, "Start (Lat): ") }}

        {{ field(form.startLng, "Start (Lng): ") }}

        {{ field(form.finishLat, "Finish (Lat): ") }}

        {{ field(form.finishLng, "Finish (Lng): ") }}

        <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
    </form>
{% endblock %}