{% extends "base.html" %}

{% block page_title %}{{ journey.name }}{% endblock %}

{% block page_header_title %}{{ journey.name }}{% endblock %}

{% block body_id %}page-journey{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ url_for('controllers.journeys') }}">Journeys</a></li>
{% endblock %}

{% block page_actions %}
    <a class="btn btn-default {% if 'controllers.journey_details' == request.endpoint %}active{% endif %}"
       href="{{ url_for('controllers.journey_details', jid=journey.id) }}">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span>Map</span>
    </a>
    <a class="btn btn-default {% if 'controllers.journey_panorama' == request.endpoint %}active{% endif %}"
       href="{{ url_for('controllers.journey_panorama', jid=journey.id) }}">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        <span>Panorama</span>
    </a>
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#journey-details-modal">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <span>Details</span>
    </button>
    {% if not journey.is_completed %}
        <a class="btn btn-default {% if 'controllers.journeys_add_stage' == request.endpoint %}active{% endif %}"
           href="{{ url_for('controllers.journeys_add_stage', jid=journey.id) }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>Record a new run</span>
        </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div id="journey-details-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Journey Details</h4>
                </div>
                <div class="modal-body">
                    <dl>
                        <div id="journey-distance-details">
                            <dt>Completion:</dt>
                            <dd>{{ journey.completed_fraction|fraction_to_percentage }} %</dd>

                            <dt>Distance:</dt>
                            <dd>
                                {{ journey.completed_distance|meters_to_km }} /
                                {{ journey.distance_meters|meters_to_km }} km
                                <em>
                                    ({{ (journey.distance_meters - journey.completed_distance)|meters_to_km }}
                                    km remaining)
                                </em>
                            </dd>

                            {% if journey.completed_distance > journey.distance_meters %}
                                <dt><em>Note:</em></dt>
                                <dd>
                                    <em>
                                        You've run an additional
                                        {{ (journey.completed_distance - journey.distance_meters)|meters_to_km }}km
                                    </em>
                                </dd>
                            {% endif %}
                        </div>

                        <dt>Runs:</dt>
                        <dd>
                            {% if journey.stages_ordered %}
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                    {% for stage in journey.stages_ordered %}
                                        <tr>
                                            <td>{{ stage.date_created|format_date|default('----', true) }}</td>
                                            <td>{{ stage.distance_meters|meters_to_km }} km</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p><em>You have not added any runs.</em></p>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
