{% from 'utils/fields.html' import field %}

{% extends 'journey_base.html' %}

{% block page_title %}Record a new run - {{ super() }}{% endblock %}

{% block body_id %}{{ super() }}-add-stage{% endblock %}

{% block page_content %}
    {{ super() }}
    <form method="post">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Run not added.</strong> Please fix any errors below and try again.
            </div>
        {% endif %}

        {{ field(form.distance_meters, label=None, placeholder="Distance in meters", addon="meters") }}

        <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
    </form>
{% endblock %}