{% extends "base.html" %}

{% block page_title %}{{ journey.name }} details{% endblock %}
{% block page_header_title %}Details{% endblock %}

{% block body_id %}page-journey-details{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ url_for('controllers.journeys') }}">Journeys</a></li>
    <li><a href="{{ url_for('controllers.journey', jid=journey.id) }}">{{ journey.name }}</a></li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-3">
            {% if stages %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stage in stages %}
                        <tr>
                            <td>{{ stage.date_created|format_date|default('----', true) }}</td>
                            <td>{{ stage.distance_meters|meters_to_km }} km</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p><em>You have not added any runs.</em></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
